@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400&display=swap');

*{
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Heebo', sans-serif;
}

body{
    background: linear-gradient(45deg, #9f27db, rgb(102, 1, 116));
    background-repeat: no-repeat;
    min-height: 100vh;
    min-width: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

form{
    background: white;
    width: 360px;
    min-height: 60vh;
    padding: 2rem;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}
.retorno a{
    text-decoration: none;
    color: black;
    display: block;
    font-size: 14px;
    font-weight: 600;
}

.retorno a::after{
    content: '';
    position: relative;
    display: block;
    height: 4px;
    width: 20px;
    bottom: 3px;
    left: 0;
    border-radius: 8px;
    background: linear-gradient(to left, #9f27db, rgb(102, 1, 116));
}

.container h4{
    position: relative;
    display: block;
    padding-top: 1rem;
}

.container{
    position: relative;
}

form .container:first-child{
    margin-bottom: 1.5rem;
}

.container input{
    outline: none;
    font-size: 0.8rem;
    color: rgba(0, 0, 0, 0.7);
    width: 100%;
}

.container input ::placeholder{
    color: rgba(27, 26, 26, 0.5);
}

.container .underline::after{
    content: '';
    position: absolute;
    display: block;
    height: 1%;
    width: 100%;
    bottom: -5px;
    background: rgba(124, 82, 82, 0.2);
}

form input[type="submit"]{
    color: white;
    margin-top: 3rem;
    padding: 0.4rem;
    width: 100%;
    background: linear-gradient(to left, #9f27db, rgb(102, 1, 116));
    font-size: 0.9rem;
    font-weight: 600;
    border-radius: 4px;
    transition: all 0.3s ease;
}
