@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400&display=swap');

*{
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Heebo', sans-serif;
}

body{
    background: linear-gradient(45deg, #9f27db, rgb(102, 1, 116));
    background-repeat: no-repeat;
    min-height: 100vh;
    min-width: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

main.container {
    background: white;
    width: 360px;
    min-height: 60vh;
    padding: 2rem;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}


main h2{
    font-weight: 900;
    margin-bottom: 2rem;
    position: relative;
}


main h2::before{
    content: '';
    position: absolute;
    display: block;
    height: 4px;
    width: 25px;
    bottom: 3px;
    left: 0;
    border-radius: 8px;
    background: linear-gradient(to left, #9f27db, rgb(102, 1, 116));
}

.input-field{
    position: relative;
}

form .input-field:first-child{
    margin-bottom: 1.5rem;
}

.input-field .underline::after{
    content: '';
    position: absolute;
    display: block;
    height: 1%;
    width: 100%;
    bottom: -5px;
    left: 0;
    background: rgba(124, 82, 82, 0.2);
}

.input-field input{
    outline: none;
    font-size: 0.8rem;
    color: rgba(0, 0, 0, 0.7);
}

.input-field input ::placeholder{
    color: rgba(27, 26, 26, 0.5);
}

form{
    display: flex;
    flex-direction: column;
}

form input[type="submit"]{
    color: white;
    margin-top: 2rem;
    padding: 0.4rem;
    background: linear-gradient(to left, rgb(102, 1, 116), #9f27db);
    font-size: 0.9rem;
    font-weight: 600;
    border-radius: 4px;
    transition: all 0.3s ease;
}

.rodape{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.rodape span{
    color:rgba(0, 0, 0, 0.7);
    font-size: 0.8rem;
    text-align: center;
}

.rodape .social-field{
    padding: 0.4rem;
    border-radius: 4px;
    font-size: 0.85;
    width: 100%;
    cursor: pointer;
    margin-top: 1rem;
}

.rodape .social-field a i{
    margin: 2 2.5rem;
    width: 15px;
}

.rodape .social-field a{
    text-decoration: none;
    color: white;
}

.rodape .social-field.twitter{
    background: linear-gradient(to right, #56a7f2, #468aca);
}

.rodape .social-field.facebook{
    background: linear-gradient(to right, #1e3c72, #2a5298);
}

hr{
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    margin-top: 30px;
}

.cadastro a{
    color: #000000;
    display: block;
    text-align: center;
    margin: 15px;
    text-decoration: none;
    font: 900;
    font-weight: bold;
}

.cadastro a::after{
    content: '';
    position: relative;
    text-align: center;
    display: block;
    height: 4px;
    width: 100px;
    bottom: 3px;
    left: 73px;
    border-radius: 8px;
    background: linear-gradient(to left, #9f27db, rgb(102, 1, 116));
}


